---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=43134cfe&t=Memento
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 18 Aug 2021 09:11:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Memento","Year":"2000","Rated":"R","Released":"25 May 2001","Runtime":"113
        min","Genre":"Mystery, Thriller","Director":"Christopher Nolan","Writer":"Christopher
        Nolan, Jonathan Nolan","Actors":"Guy Pearce, Carrie-Anne Moss, Joe Pantoliano","Plot":"A
        man with short-term memory loss attempts to track down his wife''s murderer.","Language":"English","Country":"United
        States","Awards":"Nominated for 2 Oscars. 57 wins & 59 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BZTcyNjk1MjgtOWI3Mi00YzQwLWI5MTktMzY4ZmI2NDAyNzYzXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.4/10"},{"Source":"Rotten Tomatoes","Value":"93%"},{"Source":"Metacritic","Value":"80/100"}],"Metascore":"80","imdbRating":"8.4","imdbVotes":"1,162,674","imdbID":"tt0209144","Type":"movie","DVD":"01
        Mar 2017","BoxOffice":"$25,544,867","Production":"Team Todd, I Remember Productions,
        Llc, Newmarket Capital Group","Website":"N/A","Response":"True"}'
  recorded_at: Wed, 18 Aug 2021 09:11:21 GMT
recorded_with: VCR 6.0.0
