---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=43134cfe&t=Black%20Panther
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 18 Aug 2021 10:40:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Black Panther","Year":"2018","Rated":"PG-13","Released":"16
        Feb 2018","Runtime":"134 min","Genre":"Action, Adventure, Sci-Fi","Director":"Ryan
        Coogler","Writer":"Ryan Coogler, Joe Robert Cole, Stan Lee","Actors":"Chadwick
        Boseman, Michael B. Jordan, Lupita Nyong''o","Plot":"T''Challa, heir to the
        hidden but advanced kingdom of Wakanda, must step forward to lead his people
        into a new future and must confront a challenger from his country''s past.","Language":"English,
        Swahili, Nama, Xhosa, Korean","Country":"United States, South Africa","Awards":"Won
        3 Oscars. 114 wins & 277 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTg1MTY2MjYzNV5BMl5BanBnXkFtZTgwMTc4NTMwNDI@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.3/10"},{"Source":"Rotten Tomatoes","Value":"96%"},{"Source":"Metacritic","Value":"88/100"}],"Metascore":"88","imdbRating":"7.3","imdbVotes":"660,641","imdbID":"tt1825683","Type":"movie","DVD":"02
        May 2018","BoxOffice":"$700,426,566","Production":"Walt Disney Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Wed, 18 Aug 2021 10:43:46 GMT
recorded_with: VCR 6.0.0
